@use 'reset';

/* ******************************************************************************** */
/* DOCS start */
/* ******************************************************************************** */

// FONT SIZING

.fontSize-small {
    font-size: 80%;
}

.fontSize-regular {
    font-size: 90%;
}

.fontSize-large {
    font-size: 100%; // 16px
}

// ROOT

body {
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

// NAV

.nav-container {
    font-size: 16px; // fix nav font size across all theme variants
    flex: 0 0 280px;
    height: 100%;

    border-right: 1px solid;

    display: flex;
    flex-direction: column;
}

.nav {
    padding: 20px;
    flex-grow: 1;
    overflow-y: scroll;
}

.nav-header {
    display: flex;
}

.nav-headerText {
    flex-grow: 1;

    font-size: 1.5em;
    font-weight: 400;

    letter-spacing: 0.14em;
    
    a { 
        text-decoration: underline;
    }
}

.nav-headerIcon {
    display: none;

    &:hover {
        cursor: pointer;
    }
}

.nav-menu {
    margin-top: 16px;

    .nav-itemContainer {
        font-size: 0.83em;
        font-weight: 400;
        text-transform: uppercase;

        &.open {
            font-weight: 700;
        }
    }
}

.nav-subMenu {
    display: none;

    &.open {
        display: block;
    }
    
    .nav-itemContainer {
        padding-left: 20px;
        border-left: 1px solid;

        font-size: inherit;
        text-transform: none;

        &.open {
            border-left: 2px solid;
            font-weight: 700;
        }
    }
}

.nav-link {
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-decoration: none;

    padding-top: 14px;
    padding-bottom: 14px;
}

.nav-item {
    display: flex;
    align-items: stretch;

    &:hover {
        cursor: pointer;
        text-decoration: underline !important; 
    }
}

.nav-toggle {
    display: none;
    align-items: center;

    &.open {
        display: flex;
    }
}

// TEXT

.markdown-container {
    width: 100%;
    height: 100%;
    // padding: 0 30px;
    overflow-y: scroll;
}

.markdown-settings {
    position: fixed;
    width: 100%;

    padding: 7px 30px;
    display: flex;

    > span {
        margin-right: 10px;
        opacity: 0.4;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}

.theme-menu {

    display: none;
    position: absolute;
    top: 100%;

    border: 1px solid;
    border-radius: 4px;
    padding: 8px;

    flex-direction: column;
    align-items: stretch;
    text-align: center;
    font-size: 14px;

    &.open {
        display: flex;
    }

    > div:not(:last-child) {
        margin-bottom: 8px;
        border-bottom: 1px solid;
    }

    > div > *:not(:last-child) {
        margin-right: 12px;
    }

}

.theme-menuItem {
    &:hover {
        cursor: pointer;
    }
}

.markdown {
    
    display: none;
    &.open {
        display: block;
    }

    padding: 0 30px;
    // margin-bottom: 80px;

    h1 {
        width: 100%;

        display: block;
        margin-bottom: 36px;

        // font-size: 1.8em;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.25;

        padding-top: 60px; // anchor links ignore margin-top, so we have to use padding instead
        // padding-bottom: 0.3em;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid;

        display: flex;
        align-items: center;
    }

    h2 {
        // margin-top: 46px;
        margin-top: 2.875rem;
        // margin-bottom: 28px;
        margin-bottom: 1.75rem;
        // padding-bottom: 0.3em;
        padding-bottom: 0.45rem;
        border-bottom: 2px solid;

        // font-size: 1.5em;
        font-size: 1.5rem;
        font-weight: 400;
        // line-height: 1.25;
        line-height: 1.875rem;

        scroll-margin-top: 44px;
    }

    h3 {
        // margin-top: 24px;
        margin-top: 1.5rem;
        // margin-bottom: 16px;
        margin-bottom: 1rem;

        // font-size: 1.125em;
        font-size: 1.125rem;
        font-weight: 700;
    }

    p {
        // margin-bottom: 20px;
        margin-bottom: 1.25rem;

        // font-size: 1.2em;
        font-size: 1.2rem;
        // line-height: 1.5em;
        line-height: 1.8rem;
    }

    ul {
        // margin-top: 8px;
        margin-top: 0.5rem;
        // margin-bottom: 16px;
        margin-bottom: 1rem;
        padding-left: 2em;
        list-style-type: disc;
    }

    ul ul {
        list-style-type: circle;
    }

    li {
        // font-size: 1.2em;
        font-size: 1.1875rem;
        // line-height: 1.5em;
        line-height: 1.8125rem;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    img {
        margin: 1rem 0;
        max-width: 100%;
        height: auto;
    }

    code, pre {
        border-radius: 2px;
        border: 1px solid lightgrey;
        padding: 0.625rem;
        
        font-family: Courier, monospace;
        font-size: 1.1rem;
    }

    pre {
        display: inline-block;
        border-radius: 4px;
        // padding: 10px;
        // margin-bottom: 20px;
        margin-bottom: 1.25rem;
        // line-height: 1.5em;
        line-height: 1.5rem;
        width: 100%;
        overflow-x: scroll;
        box-sizing: border-box;
        code {
            padding: 0;
            border: none;
        }
    }
}

// MEDIA

@media (max-width: 940px) {
    .container {
        flex-direction: column;
    }
    .nav-container {
        flex: 0;

        border-bottom: 1px solid lightgrey;
        border-right: none;
    }
    .nav {
        padding: 12px;
    }
    .nav-headerIcon {
        &.open {
            display: flex;
        }
    }
    .nav-menu {
        display: none;
        &.open {
            display: block;
        }
        margin-left: 12px;
        margin-right: 12px;
    }
    .markdown-settings {
        padding: 7px 18px;
    }
    .markdown {
        padding: 0 18px;
    }
}

// THEME VARIANTS

.themeVariant-light {
    
    .nav-container {
        background-color: #f7f5f5;
        border-color: lightgrey;
    }

    .markdown-settings {
        background-color: white;
    }

    .theme-menu {
        background-color: #f7f5f5;
    }

    .markdown {
        h2 {
            border-color: lightgrey;
        }
        a {
            color: #0366d6;
        }
        code, pre {
            background-color: #efefef;
        }
    }

}

.themeVariant-mid {

    .nav-container {
        background-color: #302a2a;
        color: #d6d6d6;
    }

    .markdown-settings {
        background-color: #d6d6d6;
    }

    .theme-menu {
        background-color: #302a2a;
        border-color: black;
        color: white;
    }

    .markdown-container {
        background-color: #d6d6d6;
        color: #363636;
    }

    .markdown {
        h2 {
            border-color: #6f6f6f;
        }
        a {
            color: #0366d6;
        }
        code, pre {
            background-color: #efefef;
        }
    }

}

.themeVariant-dark {

    .nav-container {
        background-color: #363636;
        color: #d6d6d6;
        border-color: black;
    }

    .markdown-settings {
        background-color: #292929;
    }

    .theme-menu {
        background-color: #302a2a;
        color: white;
    }

    .markdown-container {
        background-color: #292929;
        color: #f3f3f3;
    }

    .markdown {
        a {
            color: #8ac1ff;
        }
        pre, code {
            background-color: black;
            color: white;
        }
    }

}

/* ******************************************************************************** */
/* DOCS end */
/* ******************************************************************************** */