@use 'reset';
@use 'fonts';
@use 'nav';
@use 'markdown';
@use 'theme-variants';

// DOCS
// ====================================

body {
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

@media (max-width: 940px) {
    .container {
        flex-direction: column;
    }
    .nav-container {
        flex: 0;

        border-bottom: 1px solid lightgrey;
        border-right: none;
    }
    .nav {
        padding: 12px;
    }
    .nav-headerIcon {
        &.open {
            display: flex;
        }
    }
    .nav-menu {
        display: none;
        &.open {
            display: block;
        }
        margin-left: 12px;
        margin-right: 12px;
    }
    .markdown-topBar {
        padding: 7px 18px;
    }
    .markdown {
        padding: 0 18px;
    }
}