// NAV
// ====================================

.nav-container {
    font-size: 16px; // fix nav font size across all theme variants
    flex: 0 0 20em;
    height: 100%;

    border-right: 1px solid;

    display: flex;
    flex-direction: column;
}

.nav {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.nav-header {
    display: flex;
}

.nav-headerText {
    flex-grow: 1;

    display: flex;
    align-items: center;

    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    font-family: Garamond, serif;
}

.nav-headerIcon {
    display: none;

    &:hover {
        cursor: pointer;
    }
}

.nav-menu {
    margin-top: 16px;

    .nav-itemContainer {
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;

        &.open {
            font-weight: 700;
        }
    }
}

.nav-subMenu {
    display: none;

    &.open {
        display: block;
    }
    
    .nav-itemContainer {
        padding-left: 20px;
        border-left: 1px solid;

        font-size: inherit;
        text-transform: none;

        &.open {
            border-left: 2px solid;
            font-weight: 700;
        }
    }
}

.nav-item {
    display: flex;
    align-items: stretch;

    &:hover {
        cursor: pointer;
        text-decoration: underline !important; 
    }
}

.nav-toggle {
    display: none;
    align-items: center;

    &.open {
        display: flex;
    }
}

.nav-itemHeader {
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-decoration: none;

    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.2em;
}